<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>Info about system</h1>
        <div class="links">
            <a href="/system" class="link-item">About system</a>
            <a href="/memory" class="link-item">About memory</a>
            <a href="/processor" class="link-item">About processor</a>
        </div>
    </div>
</body>
</html>